#chartParticipant,
#chartGradeAssignment,
#chartQuizGrades,
#chartQuizQues,
#PersonalGradeChart {
    width: 100%!important;
}

.green-text {
    color: green;
    font-weight: bold;
}

.red-text {
    color: red;
    font-weight: bold;
}

.bar-grademean {
    fill: #FFAF10;
}

.bar-green,
.bar-graderaw {
    fill: #227362;
}

.bar-red {
    fill: #FF0000;
}