.table-container {
    width: 100%;
    overflow-x: auto;
    /* max-height: 500px; */
    /* Adjust the maximum height as needed */
    position: relative;
    /* Add position relative */
}

table th:nth-child(1) {
    width: 100px;
    max-width: 500px;
}

table td:nth-child(1) {
    width: 100px;
    max-width: 500px;
}

